@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}
.container2{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #52bad5;
	padding-top: 30px;
	height: 280px;
	text-decoration: none;
}
.myfont16 {
	color:black;
	margin-top:0px;
	padding-bottom:10px;
	margin-bottom: 0px;
	shape-margin: 0px;
	font-weight: bold;
	font-size: auto;
	text-align:center;
	}
.thumbnail5{
	color: #5D5E5D;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
/* Navigation */
header {
	width: 100%;
	height: 5%;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
		
}
ul li:hover a {
	color: #2C9AB7;
}
.hero_header {
	color: black;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
	font-weight: bold;
}
/* Hero Section */
.hero {
	background-color: #B3B3B3;
	padding-top: 150px;
	padding-bottom: 150px;
}

.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.font2 {
	text-align: center;
	color: #383737;
	margin-top: 4px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	
}
.myfont {
	color:black;
	font-weight: bold;
	font-size: 16.5px;
	text-align:center;
	margin-right:3%;
}
.textbox {
	width: 70%;
	margin-left: 3%;
	margin-right: 3%;
	background-color: white;
	padding-top: 15px;
	height: 100px;
	min-height: 40px;
	margin-top:3%;
	text-decoration: none;
}
/* About Section */
.text_column {
	width: 29%;
	text-align: justify;
	font-weight: 900;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}
.about2{
	padding-left: 100%;
	padding-right: 100%;
	padding-top: 35px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}
/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
	margin-left: 10%;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 33.3%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.thumbnail2 {
	width:25%;
	text-align: center;
	float: left;
	margin-top: 35px;
	margin-bottom: 3%;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
/* Parallax Section */
.banner {
	background-color: #2D9AB7;
	background-image: url(parallax.png);
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.banner2{
	width: 100%;
	height: 5px;
	background-color: dimgrey;
	
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
	width: 100%;
	align-content: center;
	align-items: center;
}
.footer_column {
	width: 100%;
	text-align: center;
	padding-top: 30px;
	float: left;
	align-content: center;
	background-color: antiquewhite;
	text-decoration: none;
}
.footer_column2 {
	width: 100%;
	text-align: center;
	padding-top: 30px;
	float: left;
	align-content: center;
	background-color: white;
	text-decoration: none;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: auto;
	height: auto;
	max-width: 400px;
	max-height: 200px;
	min-height:40px;
	margin-top:3%;
	margin-right:3%;
	margin-left:3%;
	align-content: center;
	align-items: center;

}
.container3{
	width: 100%;
	text-align: center;
	padding-top: 30px;
	margin-top:3%;
	float: left;
	align-content: center;
	background-color: antiquewhite;
	text-decoration: none;
}
.cards2 {
	width: auto;
	height: auto;
	max-width: 175px;
	max-height: 250px;
	min-height:40px;
	margin-top:3%;
	margin-right:3%;
	margin-left:6%;
	align-content: center;
	align-items: center;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 100px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color:black;
	transition: all 0.3s linear;
	
}
.button2{
	width: 300px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color:black;
	transition: all 0.3s linear;
	text-decoration: none;
}
.button2:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
	text-decoration: none;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 100PX;
	margin-bottom: 0px;
	background-image: url(pattern.png);
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.myfont15 {
	color:black;
	margin-top:0px;
	font-weight: bolder;
	font-size: auto;
	text-align:center;
	
}
.hidden {
	display: none;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
	.myfont15 {
	color:black;
	margin-top:0px;
	font-weight: bold;
	font-size: 8px;
	text-align:center;
	
}
	.myfont16 {
	color:black;
	margin-top:0px;
	margin-bottom: 0px;
	shape-margin: 0px;
	font-weight: bold;
	font-size: 10px;
	text-align:center;
	padding-bottom: 0px;
	}
	.thumbnail2 {
	width:25%;
	text-align: center;
	float: left;
	margin-top: 3%;
	margin-bottom: 3%;
		margin-right:3%;
		margin-height:3%;
	}
	.cards {
	width:50%
	}
	.cards2 {
	width: 75%;
	height:50%;
}
	
	.text_column {
	width: 100%;
	margin-top: 3%;
	margin-right: 3%;
	margin-bottom: 0px;
	margin-left: 3%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
	.footer_column2 {
	width: 100%;
	text-align: center;
	padding-top: 30px;
	float: left;
	align-content: center;
	background-color: white;
	text-decoration: none;
}
	.myfont {
	color:black;
	font-weight: bold;
	font-size: 16.5px;
	text-align:center;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
	min-height:400px;
	margin-top:3%;
	margin-left:3%;
	margin-right:3%;
}
	
.footer_column {
	width: 100%;
	margin-top: 0px;
}
	.container2{
	width: 100%;
	height:40%;
	text-align: center;
	padding-top: 3%;
	float: left;
	align-content: center;
	background-color: "";
	text-decoration: none;
}
	.container3{
	width: 100%;
	text-align: center;
	padding-top: 30px;
	float: left;
	align-content: center;
	background-color: antiquewhite;
	text-decoration: none;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.font{
	color:blanchedalmond;
	font-weight:bold;
	font-size: 20px
	}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
	.button2{
	width: 50%;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color:black;
	transition: all 0.3s linear;
	text-decoration: none;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
	.myfont15 {
	color:black;
	font-weight: bold;
	font-size: 10px;
	text-align:center;
		padding-bottom:0px;
	}
	.myfont15 {
	color:black;
	font-weight: bold;
	font-size: 10px;
	text-align:center;
		padding-bottom:0px;
	}
	.thumbnail {
	width: 100%;
	min-height:400px;
	margin-top:3%;
	margin-left:3%;
	margin-right:3%;
}
	.text_column {
	width: 100%;
	margin-top: 3%;
	margin-right: 3%;
	margin-bottom: 0px;
	margin-left: 3%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
	.cards {
	width: auto;
	height: auto;
	max-width: 400px;
	max-height: 200px;
		min-height:40px;
	margin-top:3%;
	margin-right:3%;
	margin-left:3%;
	align-content: center;
	align-items: center;
	alignment-baseline: center;
	}
	.footer_column2 {
	width: 100%;
	min-height: 400px;
	margin-top:3%;
	text-align: center;
	padding-top: 30px;
	float: left;
	align-content: center;
	background-color: white;
	text-decoration: none;
}
	.myfont {
	color:black;
	font-weight: bold;
	font-size: 16.5px;
	text-align:center;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
	.container2{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #52bad5;
	padding-top: 30px;
	height: 280px;
	text-decoration: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	margin-top: 3%;
	margin-right: 3%;
	margin-bottom: 0px;
	margin-left: 3%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
	min-height:400px;
	margin-top:3%;
	margin-left:3%;
	margin-right:3%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 100%;
	min-height:400px;
	margin-top:3%;
	margin-left:3%;
	margin-right:3%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
	margin-top: 3%;
	margin-right: 3%;
	margin-bottom: 0px;
	margin-left: 3%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
	min-height:400px;
	margin-top:3%;
	margin-left:3%;
	margin-right:3%;
}
	.cards {
	width: auto;
	height: auto;
	max-width: 400px;
	max-height: 200px;
		min-height:40px;
	margin-top:3%;
	margin-right:3%;
	margin-left:3%;
	align-content: center;
	align-items: center;
	alignment-baseline: center;
	}
	.footer_column2 {
	width: 100%;
	text-align: center;
	padding-top: 30px;
	float: left;
	align-content: center;
	background-color: white;
	text-decoration: none;
}
	.myfont {
	color:black;
	font-weight: bold;
	font-size: 16.5px;
	text-align:center;
	margin-right:3%;
}
	.myfont15 {
color:black;
	font-weight: bold;
	font-size: 5px;
	text-align:center;
	
}
.text_column {
	width: 100%;
	margin-top: 3%;
	margin-right: 3%;
	margin-bottom: 0px;
	margin-left: 3%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
	.container2{
	width: 100%;
	margin-left: 0%;
	margin-right: 3%;
		margin-top:3%;
		min-height:40px;
	background-color: #52bad5;
	padding-top: 30px;
	height: 280px;
	
	text-decoration: none;
}
}
